@import "//fonts.fontstorage.com/import/christmasscript.css";
@import "//fonts.fontstorage.com/import/engine.css";
@import "//fonts.fontstorage.com/import/gagalin.css";

body {
  margin: 0 auto;
  width: 1200px;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: -webkit-linear-gradient(left,
      rgba(164, 179, 87, 0.5) 0%,
      rgba(117, 137, 12, 0.5) 50%);
  
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  font-family: 'Gagalin';
  letter-spacing: 5px;
}

.photo img {
  position: absolute;
  top: -24px;
  left: -24px;
  transition: all 500ms;
  border-radius: 50%;
  transform: scale(0.5);
}

.photo img:hover {
  transform: scale(1);
  top: 0px;
  left: 0px;
}

.info {
  position: relative;
  color: aliceblue;
  background: -webkit-linear-gradient(left, rgba(164,179,87,0.9) 0%, rgba(117,137,12,0.9) 50%);
  height: 100vh;
}

.top
{
  flex-flow: column;
  align-items: center;
}


.name{
  align-self: flex-end;
  font-family: 'Christmas ScriptC';
  letter-spacing: 5px;
  
}
ul {
  margin-top: 15px;
  padding: 15px;
  list-style: none;
  
}
b{
  background: -webkit-linear-gradient(right, rgba(164,179,87,0.5) 0%, rgba(117,137,12,0.5) 50%);
  padding: 5px;
  color: cyan;
}
li{
  margin-top: 15px;
  cursor: pointer;
  padding: 5px;
  color: aqua;
  
}
li:hover{
  background: -webkit-linear-gradient(right, rgba(164,179,87,0.5) 0%, rgba(117,137,12,0.5) 50%);
}
.l-side{
  text-align: right;
  font-family: 'Engine';
  letter-spacing: 5px;
}
.spinner-border{
  margin: 50%;
  text-align: center;
  width: 250px;
  height: 250px;
  font-size: 64px;
  color: rgba(117,137,12,1);
}
a:hover{
  text-decoration: none;
}